---
Language: Cpp

UseTab: ForContinuationAndIndentation
ColumnLimit: 0
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
IndentCaseLabels: false

AlignOperands : DontAlign
AlignAfterOpenBracket: DontAlign
AlignTrailingComments: false
AlignEscapedNewlines: DontAlign
AlignArrayOfStructures: None

AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AlwaysBreakBeforeMultilineStrings: true

BreakInheritanceList: AfterColon
BreakConstructorInitializers: AfterColon
BreakBeforeBraces: Custom

BraceWrapping:
  AfterNamespace: false
  AfterFunction: true
  AfterStruct: true
  AfterEnum: true
  AfterClass: true
  BeforeElse: true
  AfterControlStatement: Always

BracketAlignmentStyle: DontAlign

FixNamespaceComments: true
NamespaceIndentation: None

QualifierAlignment: Custom
QualifierOrder: ['static', 'inline', 'const', 'constexpr', 'type', 'volatile' ]

IndentPPDirectives: AfterHash 

SkipMacroDefinitionBody: true
